In [1]:
from pandas import DataFrame
from pandas import concat

                                       
def series_to_supervised(data, n_in=1, n_out=1, dropnan=True):
	"""
	Frame a time series as a supervised learning dataset.
	Arguments:
		data: Sequence of observations as a list or NumPy array.
		n_in: Number of lag observations as input (X).
		n_out: Number of observations as output (y).
		dropnan: Boolean whether or not to drop rows with NaN values.
	Returns:
		Pandas DataFrame of series framed for supervised learning.
	"""
	n_vars = 1 if type(data) is list else data.shape[1]
	df = DataFrame(data)
	cols, names = list(), list()
	# input sequence (t-n, ... t-1)
	for i in range(n_in, 0, -1):
		cols.append(df.shift(i))
		names += [('var%d(t-%d)' % (j+1, i)) for j in range(n_vars)]
	# forecast sequence (t, t+1, ... t+n)
	for i in range(0, n_out):
		cols.append(df.shift(-i))
		if i == 0:
			names += [('var%d(t)' % (j+1)) for j in range(n_vars)]
		else:
			names += [('var%d(t+%d)' % (j+1, i)) for j in range(n_vars)]
	# put it all together
	agg = concat(cols, axis=1)
	agg.columns = names
	# drop rows with NaN values
	if dropnan:
		agg.dropna(inplace=True)
	return agg


raw = DataFrame()
raw['ob1'] = [x for x in range(10)]
raw['ob2'] = [x for x in range(50, 60)]
values = raw.values
data = series_to_supervised(values)
print(data)

   var1(t-1)  var2(t-1)  var1(t)  var2(t)
1        0.0       50.0        1       51
2        1.0       51.0        2       52
3        2.0       52.0        3       53
4        3.0       53.0        4       54
5        4.0       54.0        5       55
6        5.0       55.0        6       56
7        6.0       56.0        7       57
8        7.0       57.0        8       58
9        8.0       58.0        9       59

In [8]:
from pandas import DataFrame
from pandas import concat
import pandas as pd

def series_to_supervised(data, n_in=1, n_out=1, dropnan=True):
	"""
	Frame a time series as a supervised learning dataset.
	Arguments:
		data: Sequence of observations as a list or NumPy array.
		n_in: Number of lag observations as input (X).
		n_out: Number of observations as output (y).
		dropnan: Boolean whether or not to drop rows with NaN values.
	Returns:
		Pandas DataFrame of series framed for supervised learning.
	"""
	n_vars = 1 if type(data) is list else data.shape[1]
	df = DataFrame(data)
	cols, names = list(), list()
	# input sequence (t-n, ... t-1)
	for i in range(n_in, 0, -1):
		cols.append(df.shift(i))
		names += [('var%d(t-%d)' % (j+1, i)) for j in range(n_vars)]
	# forecast sequence (t, t+1, ... t+n)
	for i in range(0, n_out):
		cols.append(df.shift(-i))
		if i == 0:
			names += [('var%d(t)' % (j+1)) for j in range(n_vars)]
		else:
			names += [('var%d(t+%d)' % (j+1, i)) for j in range(n_vars)]
	# put it all together
	agg = concat(cols, axis=1)
	agg.columns = names
	# drop rows with NaN values
	if dropnan:
		agg.dropna(inplace=True)
	return agg


raw = pd.read_csv('LT_IN.csv', index_col=0, header=None,parse_dates=[0],squeeze=True,names=['fecha','OPC1','OPC2','OPC3','OPC4','OPC5','OPC6']) ##,parse_dates=[0]index_col=0, squeeze=True)
#,names=['fecha','unidades'])
#raw.head()

#raw = DataFrame()
#raw['ob1'] = [x for x in range(10)]
#raw['ob2'] = [x for x in range(50, 60)]
values = raw.values
data = series_to_supervised(values, 1, 6)
data.head(10).T

,1,2,3,4,5,6,7,8,9,10
var1(t-1),0.0,107.0,121.0,0.0,6.0,381.0,98.0,109.0,128.0,102.0
var2(t-1),2.0,119.0,131.0,0.0,0.0,650.0,144.0,1422.0,228.0,177.0
var3(t-1),0.0,8.0,15.0,0.0,0.0,25.0,18.0,26.0,32.0,46.0
var4(t-1),0.0,175.0,204.0,1.0,0.0,1358.0,197.0,248.0,213.0,203.0
var5(t-1),0.0,74.0,58.0,0.0,0.0,182.0,94.0,178.0,171.0,79.0
var6(t-1),0.0,10.0,21.0,0.0,0.0,77.0,57.0,46.0,49.0,59.0
var1(t),107.0,121.0,0.0,6.0,381.0,98.0,109.0,128.0,102.0,107.0
var2(t),119.0,131.0,0.0,0.0,650.0,144.0,1422.0,228.0,177.0,226.0
var3(t),8.0,15.0,0.0,0.0,25.0,18.0,26.0,32.0,46.0,25.0
var4(t),175.0,204.0,1.0,0.0,1358.0,197.0,248.0,213.0,203.0,236.0
var5(t),74.0,58.0,0.0,0.0,182.0,94.0,178.0,171.0,79.0,196.0
var6(t),10.0,21.0,0.0,0.0,77.0,57.0,46.0,49.0,59.0,44.0
var1(t+1),121.0,0.0,6.0,381.0,98.0,109.0,128.0,102.0,107.0,95.0
var2(t+1),131.0,0.0,0.0,650.0,144.0,1422.0,228.0,177.0,226.0,157.0
var3(t+1),15.0,0.0,0.0,25.0,18.0,26.0,32.0,46.0,25.0,25.0
var4(t+1),204.0,1.0,0.0,1358.0,197.0,248.0,213.0,203.0,236.0,197.0
var5(t+1),58.0,0.0,0.0,182.0,94.0,178.0,171.0,79.0,196.0,262.0
var6(t+1),21.0,0.0,0.0,77.0,57.0,46.0,49.0,59.0,44.0,54.0
var1(t+2),0.0,6.0,381.0,98.0,109.0,128.0,102.0,107.0,95.0,246.0
var2(t+2),0.0,0.0,650.0,144.0,1422.0,228.0,177.0,226.0,157.0,328.0
var3(t+2),0.0,0.0,25.0,18.0,26.0,32.0,46.0,25.0,25.0,31.0
var4(t+2),1.0,0.0,1358.0,197.0,248.0,213.0,203.0,236.0,197.0,297.0
var5(t+2),0.0,0.0,182.0,94.0,178.0,171.0,79.0,196.0,262.0,343.0
var6(t+2),0.0,0.0,77.0,57.0,46.0,49.0,59.0,44.0,54.0,80.0
var1(t+3),6.0,381.0,98.0,109.0,128.0,102.0,107.0,95.0,246.0,127.0
var2(t+3),0.0,650.0,144.0,1422.0,228.0,177.0,226.0,157.0,328.0,287.0
var3(t+3),0.0,25.0,18.0,26.0,32.0,46.0,25.0,25.0,31.0,89.0
var4(t+3),0.0,1358.0,197.0,248.0,213.0,203.0,236.0,197.0,297.0,267.0
var5(t+3),0.0,182.0,94.0,178.0,171.0,79.0,196.0,262.0,343.0,123.0
var6(t+3),0.0,77.0,57.0,46.0,49.0,59.0,44.0,54.0,80.0,49.0
var1(t+4),381.0,98.0,109.0,128.0,102.0,107.0,95.0,246.0,127.0,182.0
var2(t+4),650.0,144.0,1422.0,228.0,177.0,226.0,157.0,328.0,287.0,259.0
var3(t+4),25.0,18.0,26.0,32.0,46.0,25.0,25.0,31.0,89.0,9.0
var4(t+4),1358.0,197.0,248.0,213.0,203.0,236.0,197.0,297.0,267.0,245.0
var5(t+4),182.0,94.0,178.0,171.0,79.0,196.0,262.0,343.0,123.0,87.0
var6(t+4),77.0,57.0,46.0,49.0,59.0,44.0,54.0,80.0,49.0,32.0
var1(t+5),98.0,109.0,128.0,102.0,107.0,95.0,246.0,127.0,182.0,269.0
var2(t+5),144.0,1422.0,228.0,177.0,226.0,157.0,328.0,287.0,259.0,293.0
var3(t+5),18.0,26.0,32.0,46.0,25.0,25.0,31.0,89.0,9.0,30.0
var4(t+5),197.0,248.0,213.0,203.0,236.0,197.0,297.0,267.0,245.0,290.0
var5(t+5),94.0,178.0,171.0,79.0,196.0,262.0,343.0,123.0,87.0,108.0
var6(t+5),57.0,46.0,49.0,59.0,44.0,54.0,80.0,49.0,32.0,48.0