In [7]:
# import package we going to use in dataset
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns
import tensorflow as tf
import os

In [8]:
# read dataset
df=pd.read_csv('Telco-Customer-Churn.csv')

In [9]:
# lets check out the types
# should seniorcitizen be int64 ? why totalcharges is an object ?
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
customerID          7043 non-null object
gender              7043 non-null object
SeniorCitizen       7043 non-null int64
Partner             7043 non-null object
Dependents          7043 non-null object
tenure              7043 non-null int64
PhoneService        7043 non-null object
MultipleLines       7043 non-null object
InternetService     7043 non-null object
OnlineSecurity      7043 non-null object
OnlineBackup        7043 non-null object
DeviceProtection    7043 non-null object
TechSupport         7043 non-null object
StreamingTV         7043 non-null object
StreamingMovies     7043 non-null object
Contract            7043 non-null object
PaperlessBilling    7043 non-null object
PaymentMethod       7043 non-null object
MonthlyCharges      7043 non-null float64
TotalCharges        7043 non-null object
Churn               7043 non-null object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [4]:
# lets check out first 5 rows to prove what we think above
dataset.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [10]:
# transfer totalcharges to numberic values
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')

In [11]:
# replace 0 and 1 in seniorcitizen into yes and no
df['SeniorCitizen'].unique()
df['SeniorCitizen'] = df['SeniorCitizen'].apply(lambda x: 'Yes' if x == 1 else 'No')
df['SeniorCitizen'].unique()

array(['No', 'Yes'], dtype=object)

In [12]:
# check out if there is a null value
df['TotalCharges'].isnull().sum()

11

In [13]:
# fill null totalcharges value
df['TotalCharges'].fillna(value=df['tenure'] * df['MonthlyCharges'], inplace=True)

In [46]:
# convert binary variables into numeric variable
df = df.iloc[:,1:]
df['Churn'].replace(to_replace='Yes', value=1, inplace=True)
df['Churn'].replace(to_replace='No',  value=0, inplace=True)

# convert all into dummy variables
df_dummies = pd.get_dummies(df)
# check it out
df_dummies.head()

,tenure,MonthlyCharges,TotalCharges,Churn,SeniorCitizen_No,SeniorCitizen_Yes,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,...,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,1,29.85,29.85,0,1,0,0,1,1,0,...,0,1,0,0,0,1,0,0,1,0
1,34,56.95,1889.50,0,1,0,1,0,1,0,...,0,0,1,0,1,0,0,0,0,1
2,2,53.85,108.15,1,1,0,1,0,1,0,...,0,1,0,0,0,1,0,0,0,1
3,45,42.30,1840.75,0,1,0,1,0,1,0,...,0,0,1,0,1,0,1,0,0,0
4,2,70.70,151.65,1,1,0,1,0,1,0,...,0,1,0,0,0,1,0,0,1,0

In [47]:
# churn rate is 26.5% of total
df.describe()

            tenure  MonthlyCharges  TotalCharges        Churn
count  7043.000000     7043.000000   7043.000000  7043.000000
mean     32.371149       64.761692   2279.734304     0.265370
std      24.559481       30.090047   2266.794470     0.441561
min       0.000000       18.250000      0.000000     0.000000
25%       9.000000       35.500000    398.550000     0.000000
50%      29.000000       70.350000   1394.550000     0.000000
75%      55.000000       89.850000   3786.600000     1.000000
max      72.000000      118.750000   8684.800000     1.000000

In [48]:
# let check if everything is okay again
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 19 columns):
SeniorCitizen       7043 non-null object
Partner             7043 non-null object
Dependents          7043 non-null object
tenure              7043 non-null int64
PhoneService        7043 non-null object
MultipleLines       7043 non-null object
InternetService     7043 non-null object
OnlineSecurity      7043 non-null object
OnlineBackup        7043 non-null object
DeviceProtection    7043 non-null object
TechSupport         7043 non-null object
StreamingTV         7043 non-null object
StreamingMovies     7043 non-null object
Contract            7043 non-null object
PaperlessBilling    7043 non-null object
PaymentMethod       7043 non-null object
MonthlyCharges      7043 non-null float64
TotalCharges        7043 non-null float64
Churn               7043 non-null int64
dtypes: float64(2), int64(2), object(15)
memory usage: 1.0+ MB

In [65]:
# determine x and y, drop churn value
y = df_dummies['Churn'].values
X = df_dummies.drop(columns = ['Churn'])

In [75]:
# split data into test 20%, train 80%
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 101)

In [76]:
# scale whole data
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [77]:
# start to build ANN
import keras
from keras.models import Sequential
from keras.layers import Dense

In [82]:
classifier=Sequential()

classifier.add(Dense(units=6,kernel_initializer='uniform',activation='relu',input_dim=44))

classifier.add(Dense(units=6,kernel_initializer='uniform',activation='relu'))

classifier.add(Dense(units=1,kernel_initializer='uniform',activation='sigmoid'))

classifier.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [83]:
classifier.fit(X_train,y_train,batch_size=5,epochs=28)

Epoch 1/28
5634/5634 [==============================] - 2s 443us/step - loss: 0.5054 - acc: 0.7833
Epoch 2/28
5634/5634 [==============================] - 2s 271us/step - loss: 0.4196 - acc: 0.8021
Epoch 3/28
5634/5634 [==============================] - 1s 262us/step - loss: 0.4159 - acc: 0.8051
Epoch 4/28
5634/5634 [==============================] - 1s 253us/step - loss: 0.4144 - acc: 0.8065
Epoch 5/28
5634/5634 [==============================] - 2s 273us/step - loss: 0.4123 - acc: 0.8023
Epoch 6/28
5634/5634 [==============================] - 1s 258us/step - loss: 0.4122 - acc: 0.8032
Epoch 7/28
5634/5634 [==============================] - 2s 309us/step - loss: 0.4115 - acc: 0.8042
Epoch 8/28
5634/5634 [==============================] - 2s 310us/step - loss: 0.4114 - acc: 0.8021
Epoch 9/28
5634/5634 [==============================] - 2s 280us/step - loss: 0.4107 - acc: 0.8040
Epoch 10/28
5634/5634 [==============================] - 2s 311us/step - loss: 0.4103 - acc: 0.8032
Epoch 11/28
5634/5634 [==============================] - 2s 303us/step - loss: 0.4104 - acc: 0.8058
Epoch 12/28
5634/5634 [==============================] - 2s 324us/step - loss: 0.4097 - acc: 0.8064
Epoch 13/28
5634/5634 [==============================] - 2s 314us/step - loss: 0.4095 - acc: 0.8049
Epoch 14/28
5634/5634 [==============================] - 2s 297us/step - loss: 0.4085 - acc: 0.8039
Epoch 15/28
5634/5634 [==============================] - 2s 324us/step - loss: 0.4084 - acc: 0.8051
Epoch 16/28
5634/5634 [==============================] - 2s 336us/step - loss: 0.4083 - acc: 0.8040
Epoch 17/28
5634/5634 [==============================] - 2s 324us/step - loss: 0.4076 - acc: 0.8060
Epoch 18/28
5634/5634 [==============================] - 2s 271us/step - loss: 0.4068 - acc: 0.8085
Epoch 19/28
5634/5634 [==============================] - 2s 319us/step - loss: 0.4066 - acc: 0.8069
Epoch 20/28
5634/5634 [==============================] - 2s 337us/step - loss: 0.4070 - acc: 0.8042
Epoch 21/28
5634/5634 [==============================] - 2s 372us/step - loss: 0.4062 - acc: 0.8065
Epoch 22/28
5634/5634 [==============================] - 2s 313us/step - loss: 0.4065 - acc: 0.8044
Epoch 23/28
5634/5634 [==============================] - 2s 280us/step - loss: 0.4055 - acc: 0.8085
Epoch 24/28
5634/5634 [==============================] - 2s 353us/step - loss: 0.4052 - acc: 0.8062
Epoch 25/28
5634/5634 [==============================] - 2s 281us/step - loss: 0.4046 - acc: 0.8090
Epoch 26/28
5634/5634 [==============================] - 2s 303us/step - loss: 0.4036 - acc: 0.8078
Epoch 27/28
5634/5634 [==============================] - 2s 285us/step - loss: 0.4036 - acc: 0.8087
Epoch 28/28
5634/5634 [==============================] - 2s 336us/step - loss: 0.4031 - acc: 0.8104

In [84]:
# use confusion matrix to predict accuracy
y_pred=classifier.predict(X_test)
y_pred=(y_pred > 0.5)
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)

cm

array([[927,  99],
       [186, 197]], dtype=int64)

In [ ]:
# accruacy 927+197/total
# may be we can improve fina results by giving another hidden layer ?